<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStrings" value="Server=localhost;database=fcoin;uid=root;pwd=123;"/>
    <add key="key" value="your key"/>
    <add key="secret" value="your secret"/>
    <add key="targetSymbol" value="btcusdt"/>
    <add key="usdtLimit" value="500"/>
  </appSettings>
</configuration>